{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col s6 m6 l6">
            <a href="{{ path('index') }}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>back to list</a>
        </div>
        <div class="col s6 m6 l6 right-align">
            <button class="btn" onclick="validateJsonBySubmit()">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
